---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="mt-4 px-4 flex flex-col gap-4">
    <h1 class="text-3xl">Welcome!</h1>
    <p>
      My name is Masami and I love to cook. I created this blog to share
      recipes, cooking tips, and stories about food. Cook with me!
    </p>
    <p>
      A little bit about me: I'm a marketer by day and self-taught home cook by
      night and weekend. I can never pass up a farmer's market and love
      exploring new restaurants (when it is safe!) Pasta is my favorite food and
      I'm currently obsessing over eggplant. I currently reside in DC with my
      partner Harry, who helped design this blog. I hope you enjoy!
    </p>
  </div>
</Layout>
