---
interface Props {
  tags: Array<string>;
}

const { tags } = Astro.props;
---

<small>
  {
    tags.map((tag) => (
      <div class="inline-block py-1 px-2 mr-1 mb-1 bg-app-theme bg-opacity-10 rounded-sm">
        {tag}
      </div>
    ))
  }
</small>
